.gridItem {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 10px #fbfbfb;
  grid-row: span 2;
}
.gridItem h5 {
  margin: 20px 0 0 20px;
}
.gridItem h6 {
  margin: 0;
}

.sub1 {
  margin: 0;
  padding: 20px 30px 20px 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}
.grid1 {
  grid-column: span 2;
}

.grid2 {
}
.grid3 {
}

.anchor1 {
  margin: 0px;
  border-radius: 12px;
}

.anchor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  border: 2px dashed #1cb56d;
  border-radius: 12px;
  height: 120px;
  /* font-size: larger; */
}
