.myLogo {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 3.5rem;
  }
  .myLogo > img {
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 40px 0 0;
  }
  .myLogo > h4 {
    margin-top: 20px;
    text-align: center;
  }
  
  .gridContainer {
    height: 650px;
    padding: 20px 60px 60px 20px;
    margin: 0px;
    background-color: white;
    display: grid;
    grid-template-columns: 20% 42% 38%;
    grid-template-rows: 10% 40% 50%;
    gap: 20px;
  }
  .gridItem {
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 10px #fbfbfb;
  }
  
  .item1 {
    grid-row: span 3;
  }
  .item2 {
    padding: 10px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item2 h4 {
    margin: 0;
  }
  .item3 {
    padding: 10px;
    grid-column: span 2;
  
    display: flex;
    flex-direction: column;
  }
  
  .item3 .flexRow1 {
    display: flex;
    height: 50%;
    width: 100%;
  }
  
  .item3 .flexRow2 {
    display: flex;
    height: 50%;
    width: 100%;
  }
  
  /* .item3 .flex-item {
      border-radius: 10px;
      box-shadow: 0px 0px 6px 4px lightgrey;
      width: 25%;
      height: 80%;
      margin: 10px;
    } */
  
  /* .item4 {
      display: grid;
      padding: 5px 30px 0 20px;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(4, 50px);
      gap: 7px;
    } */
  .item5 {
  }
  .sideItem {
    height: 35px;
    display: flex;
  
    align-items: center;
    margin-bottom: 1rem;
  
    border-radius: 10px;
  }
  .side3 {
    position: relative;
    top: 40%;
    padding-left: 10px;
  }
  
  /* .create-menu {
      border: 2px solid lightblue;
      width: 100%;
      border-radius: 8px;
      padding: 2px 3px;
    } */
  
  /* .sub1 {
      grid-column: span 2;
      border: none;
      margin: 0;
      padding: 0;
    }
    .sub2 {
      grid-column: span 2;
      padding-top: 0;
    }
    .sub3 {
      grid-column: span 2;
    }
    .sub4 {
    }
    .sub5 {
    }
    .sub6 {
      grid-column: span 2;
    } */
  
  .anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
    margin: 0px;
    border: 2px dashed #1cb56d;
    border-radius: 10px;
  }
  .a1 {
    margin-top: 38px;
    align-self: center;
  }
  .a2 {
    padding: 0 10px 5px 0;
    margin-top: auto;
    font-size: x-small;
    align-self: flex-end;
  }
  
  .side-item:hover {
    background-color: #1cb56d;
    color: black;
  }
  .side-item:active {
    background-color: lightgreen;
  }
  
  .side-item .tab-image {
    margin: 0 20px 10px 10px;
    width: 25px;
    float: left;
  }
  .activate {
    background-color: lightgreen;
  }
  