.gridItem {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 10px #fbfbfb;
  padding: 10px;
}
.sub1 {
  grid-column: span 2;
  padding: 5px 25px 35px 10px;
  border: 2px solid #1cb56d;
  height: 240px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 30% 30% 30%;
  gap: 8px;
  border-radius: 10px;
}
.item1 {
  color: #1cb56d;
}

.item {
  border-radius: 10px;
  background-color: lightgray;
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
